<span>Register as an</span>
<%= link_to 'Fan', new_fan_registration_path %>
<span>or</span>
<%= link_to 'Artist', new_artist_registration_path %>
<span> or </span>
<%= link_to "Sign in with Facebook", fan_omniauth_authorize_path(:facebook) %>
